/*custom.css*/

/**color**/

$fff: #ffffff;
$twitter: #55acee;
$fb: #3b5998;
$logo: #00bce7;


/*mixins*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: $color;
  	font-family: National-Light;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
  	font-family: National-Light;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
  	font-family: National-Light;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
  	font-family: National-Light;
	}
}

/**font**/
@font-face {
    font-family: National-Book;
    src: url(fonts/National-Book.otf);
}

@font-face {
    font-family: National-Light;
    src: url(fonts/National-Light.otf);
}

@font-face {
    font-family: National-LightI;
    src: url(fonts/National-LightItalic.otf);
}

@font-face {
    font-family: National-Med;
    src: url(fonts/National-Medium.otf);
}

/**general**/
a {
	color: #00bce7 !important;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.container, .container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.btn-position {
	bottom: 40px;
	position: absolute;
	left: 0px;
	right: 0px;
}

.btn-position-left {
	left: 35px;
}

.btn-primary {
	height: 32px;
	border: 2px solid $fff;
	background-color: transparent;
	@include border-radius(0px);
	font-family: National-Light;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 17px;
  padding-right: 42px;
  position: relative;
}

.btn-default {
	color: $logo;
	background-color: $fff;
	border: 2px solid $fff;
	@include border-radius(0px);
	font-family: National-Med;
	height: 32px;
	font-size: 13px;
	letter-spacing: 1px;

	&:hover {
		background-color: transparent;
		border: 2px solid $fff;
		color: $fff;
	}
}

.btn-blue {
	background-color: $logo;
	border: 2px solid $logo;
	color: $fff;

	&:hover {
		background-color: transparent;
		border: 2px solid $logo;
		color: $logo;
	}
}

.glyphicon-triangle-right {
  background: white;
  color: $fb;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  right: 0px;
  top: 0px;
	padding-left: 4px;
  position: absolute;
  width: 30px;
}

/**custom**/

.navbar-brand {
	margin-top: 7px;
}

.navbar-default {
	background-color: $fff;
  @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.1));
	font-family: National-Book;
	font-size: 15px;
	height: 80px;
	letter-spacing: 1px;
	margin-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	z-index: 3;
}

.navbar-right {
	margin-top: 15px;
}

.home-block {

	.claims, .fb-post, .article, .twitter {
		min-height: 320px;
		padding: 40px;
		position: relative;
	}

	.claims {
		background-color: $fff;
		font-family: National-Light;
		padding-left: 30px !important;

		h1 {
			color: $logo;
			font-size: 120px;
			line-height: normal;
			margin-top: 0px;
		}

		p {
			bottom: 10px;
			color: #414042;
			font-size: 25px;
			position: absolute;
		}
	}

	.fb-post {
		background-color: #3b5998;
		text-align: center;

		img {
			margin: 0 auto;
		}

		p {
			color: $fff;
			font-family: National-LightI;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.5px;
			margin: 40px 0px;
		}
	}

	.article {
		background-color: #006bc0;

		img {
			display: inline-block;
			margin-right: 5px;
		}

		h2 {
			color: $fff;
			font-family: National-Light;
			font-size: 25px;
			letter-spacing: 0.5px;
			line-height: 16px;
			margin: 40px 0px 35px;
		}

		p {
			color: $fff;
			font-family: National-Light;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.5px;
			margin: 40px 15px 40px 0px;
		}

		.insurance-title {
			color: $fff;
			font-family: National-Med;
			font-size: 10px;
			letter-spacing: 0.8px;
			line-height: 18px;
			text-transform: uppercase;
		}
	}

	.twitter {
		background-color: $twitter;
		text-align: center;

		img {
			margin: 0 auto;
		}

		p {
			color: $fff;
			font-family: National-LightI;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.5px;
			margin: 70px 0px 40px;
		}
	}
}

.contact-panel {
	background-color: $logo;
	color: $fff;
	padding: 40px 0px 35px;
	text-align: center;

	h3 {
		font-family: National-Light;
		font-size: 25px;
		letter-spacing: 1px;
	}

	p {
		font-family: National-Light;
		font-size: 14px;
		line-height: 15px;
		letter-spacing: 1px;
		margin: 0 auto 35px;
		width: 420px;
	}

	.form-group {
		input[type="text"], input[type="email"] {
			background: transparent;
			border: 2px solid $fff;
			color: $fff;
			height: 32px;
			margin-left: 10px;
			padding: 10px;
			width: 180px;

			@include placeholder($fff);
		}

		textarea {
			background: transparent;
			border: 2px solid $fff;
			height: 85px;
			margin-left: 10px;
			padding: 10px;
			resize: none;
			width: 569px;
			@include placeholder($fff);
		}
	}

	.form-btn {
    display: block;
    margin: 0 auto;
    text-align: right;
		width: 580px;
	}
	
	.country {
		li {
			list-style: none;
		}
	}
}

footer {
	.container-fluid {
		background-color: #333132;
		padding: 30px 0px 15px;

		.newsletter {
			padding-bottom: 25px;

			.newsletter-label {
				color: $logo;
				font-family: National-Med;
				font-size: 15px;
				letter-spacing: 1.2px;
				margin-right: 15px;
				text-transform: uppercase;
			}

			input {
				background: transparent;
				border: 2px solid $fff;
				color: $fff;
				height: 32px;
				margin-left: 10px;
				padding: 10px;
				width: 180px;
				@include placeholder($fff);
			}

			.btn-blue {
				bottom: 1px;
				position: relative;
				margin-left: 10px;
			}
		}

		hr {
			border: 1px solid #989898;
			margin: 0px 30px 30px;
		}

		img {
			margin: 0 auto;
			display: block;
		}

		.footer-details {
			text-align: center;

			.nav {
				margin: 20px 0px 25px;

				li {
					display: inline-block;
					font-family: National-Med;
					font-size: 10px;

					a {
						color: #c5c5c5 !important;
						padding: 0px 15px;

						&:hover {
							background-color: transparent;
						}
					}
				}
			}

			p {
				color: #c5c5c5 !important;
				font-family: National-Light;
				font-size: 13px;
				margin-bottom: 25px;
			}
		}

		.copyright-content {
			hr {
				margin-bottom: 5px;
			}

			.copyright {
				color: #949494;
				font-family: National-Light;
				font-size: 9px;
				text-align: right;
				padding-right: 30px;
			}
		}
	}
}